@charset "UTF-8";

* {
  font-family: "Poppins", sans-serif; }
  * p {
    font-family: "Open Sans", sans-serif; }

.bg-color-nav {
  background-color: #2738d2; }

.labels a {
  text-decoration: none; }

.labels a:hover {
  text-decoration: underline; }

.navbar-toggler {
  border: white solid 1px; }
  .navbar-toggler :focus {
    box-shadow: none; }

.over-button:hover {
  font-weight: 500 !important;
  transition: ease-in 0.2s; }

.color-effect a {
  color: #000000;
  text-decoration: none; }

.color-effect a:hover {
  text-decoration: underline;
  color: #f5c088; }

.social-labels a {
  text-decoration: none;
  color: #000000; }

.social-labels :hover {
  transition: ease-out 0.1s;
  color: #cf3d1d; }

.button-color {
  color: #ab2020;
  background-color: #d2afd9b5; }

.button-color:hover {
  background-color: #bebe31;
  color: white;
  font-weight: 500;
  transition: ease-in 0.2s; }

.forma-bg {
  background-image: linear-gradient(to right top, #cd9851, #aa6f21, #8e521e, #765915, #eb7012); }

.subag img {
  width: 0;
  flex-grow: 1;
  object-fit: cover;
  opacity: 0.8;
  transition: 0.4s ease; }

.subag img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%); }

.slider {
  aspect-ratio: 10 / 16;
  width: 300px;
  position: relative;
  display: flex;
  overflow: scroll;
  scroll-snap-type: x mandatory; }
  .slider img {
    width: 100%;
    left: 0;
    position: sticky;
    object-fit: cover;
    border-radius: 5px;
    scroll-snap-align: center; }

.card-nosotros {
  background: rgba(252, 216, 255, 0.518);
  border-radius: 0.9em;
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: #fafafa 0.2em solid; }

.card-color:hover {
  border: #d9d3af 0.2em solid;
  transform: scale(1.025); }

.bg-form {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  border: 1px solid rgba(255, 255, 255, 0.3); }